body {
    background: linear-gradient(to bottom right, #101B27 ,#101B34);
}

.mainpage {
    height: 100vh;
    background-color: #181a1dBF;
    backdrop-filter: blur(64px);
    -webkit-backdrop-filter: blur(64px);
}

.leftpage {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.rightpage {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}

.schoolname {
    text-align: center;
    padding-top: 24px;
}

#item {
    position: relative;
    text-align: center;
    background: #292a30A0;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#item img {
    padding-top: 25px;
    width: 64px;
}

#item #itemname {
    margin-top: 12px;
    padding-bottom: 25px;
}

.logo {
    margin-left: 15px;
    margin-top: 15px;
    padding-bottom: 24px;
}

.smalllogotext {
    margin-top: -4px;
}