
body {
    background: linear-gradient(to bottom right, #101B27 ,#101B34);
    margin: 0;
}

.mainpage {
    width: 100%;
    height: 100vh;
    background-color: #181a1dBF;
    backdrop-filter: blur(64px);
    -webkit-backdrop-filter: blur(64px);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table {
    width: 100%;
    border: 1px solid #000000;
}

th, td {
    border: 1px solid #000000;
}